<!doctype html>
<html class="no-js" lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title><layout-placeholder name="title"/></title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <script src="https://cdn.polyfill.io/v2/polyfill.min.js"></script><!-- Master Polyfill. Load before you load or parse your own JavaScript -->
        <lasso-head/>
    </head>
    <body>
    <!--[if lt IE 9]><p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p><![endif]-->

        <layout-placeholder name="body" />



        <lasso-body/>
        <init-widgets/>
        <!-- Out-of-order async fragments (if any) will be rendered below -->
        <async-fragments/>
        <browser-refresh enabled=true />
    </body>
</html>
